@import "tailwindcss";


:root {
  --text: #262626;
  --bg: #ffffff;
}
@layer base {
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* For Firefox. */
    * {
        scrollbar-width: none;
    }

    /* For WebKit (Chrome & Safari). */
    ::-webkit-scrollbar {
        display: none;
    }
}

html, body, #root {
  height: 100%;
}

body {
  font-family: "DM Sans", system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Abril Fatface", serif;
  font-weight: normal;
}
